body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(243, 244, 246);
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
